*{
	font-family: arial;
}
#banner-contato{
	float: left;
	width: 100%;
	border-top: solid #FBD205 5px;
	border-bottom: solid #F45E00 5px;
}
#banner-contato img{
	float: left;
	width: 100%;
}
#banner-contato-2{
	float: left;
	width: 100%;
	height: 280px;
	background-color: #f9690f;
}
#banner-contato-2-texto{
	float: left;
	width: 50%;
	height: 10px;
	color: #FFF;
	margin-left: 40%;
	margin-top: 38px;
	font-weight: bold;
	font-family: 'Hind', sans-serif;
}
#banner-contato-2-botao {
	float: left;
	background-color: #FBD205;
	height: 50px;
	width: 200px;
	text-align: center;
	line-height: 50px; 
	font-size: 20px;
	border-radius: 10px; 
	margin-left: 40%;
	margin-top: 8%;
	transition:all 0.3s ease;
}
#banner-contato-2-botao a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
#banner-contato-2-botao:hover{
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#conteudo-contato{
	float: left;
	width: 100%;
}
#titulo-contato{
	margin-left: 60px;
	color: #F45E00;
}
#container-contato{
	float: left;
	width: 100%;
	margin-top: 50px;
}
#container-contato-img{
	float: left;
}
#container-contato-p{
	margin-bottom: 10px;
	font-weight: bold;
	color: #424242;
	font-family: 'Cabin', sans-serif;
}
#container-contato-p2{
	margin: 20 0 5 0;
	font-weight: bold;
	color: #424242;
	font-family: 'Cabin', sans-serif;

}
.container-contato-img{
	margin-top: 8px;
}